@{
    ViewBag.Title = "Index";
}


<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Register Course", "Register", "Home", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("List of all Courses", "ListCourses", "Home", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>