@{
    ViewBag.Title = "Home Page";
}

@*<li>@Html.ActionLink("Register teacher/student", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@

<h2>Options</h2>

<p>
    @Html.ActionLink("Register teacher/student", "Register", "Home", new { option = "role"}, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Register Course", "Register", "Home", new { option = "course" }, htmlAttributes: new { @class = "btn btn-primary" })
</p>