@{
    ViewBag.Title = "Home Page";
}

<h2>Options</h2>

<p>
    @Html.ActionLink("Register teacher/student", "Register", "Account",  null , htmlAttributes: new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Register Course", "Register", "Home", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>