@model IEnumerable<Lexicon_LMS.Models.Course>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>@ViewBag.Title</b></h2>

@if (!Model.Any())
{
    <p>There are no courses at the moment</p>
}

else
{
    <table class="table table-responsive dl-horizontal table-striped table-bordered">
        <tr>
            <th>Course</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>

        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.ActionLink(course.Name, "Course", "Home", new { id = course.Id }, null)</td>
                <td>@Html.DisplayFor(m => course.StartDate, "{0:yyyy-MM-dd}")</td>  
                <td>@Html.DisplayFor(m => course.EndDate, "{0:yyyy-MM-dd}")</td>  
            </tr>
        }



    </table>


                @*</div>*@
}

