@using Lexicon_LMS.Models

@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
    <style>
        body {
            background-color: #eee;
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <div>
        @Html.ActionLink("Back to Startpage", "Course", "Home", new {id = ViewBag.Id }, htmlAttributes: new { @class = "btn btn-default btn-sm", onclick = "return confirm('Are you sure you want the recent changes to take place?');" })
    </div>

    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
</body>
</html>