@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">@ViewBag.ErrorMessage</h2>




@*
<script language='javascript' type='text/javascript'>    
    
        var status = '@ViewBag.ErrorMessage';
        if (status) {
            confirm('Success!')
        }
        else {
            confirm("This course has modules, and students enrolled. You must first delete all modules and remove all students from the course, before you can delete the actual course.");
        }
   
    </script> *@

    



