html {
    overflow-y: scroll;
} 

body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space:normal;
    width: auto;
}

.dl-horizontal dd {
    margin-left: 83px;
}

.form-horizontal .form-group{
    margin-left:0;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*.btn {
    color: #ffffff;
    background-color: #DC143C !important;
    border-color: #800000 !important;
    touch-action: pan-y;
}*/


.navbar-inverse .navbar-brand {
    color: #DC143C;
    font-style:normal;
    font-weight:700;
}

.navbar-brand {
    font-style: normal;
    font-weight: 700;
    color: brown;
    /*background-image: url("blue-290314_640.jpg"); */
}

.navbar-inverse{
    color:brown !important;
    border-color:brown;

}

.navbar-header {
    font-style: normal;
    font-weight: 100;
}

body {
    background-image: url(472586846.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200% 200%;
}


.navbar-inverse .navbar-nav > li > a {
    color: #DC143C;
    font-weight: 700;
}

/*.navbar-inverse .navbar-nav > li {
    color: #DC143C;
    font-weight: 500;
}*/

a {
    color: #DC143C;
    text-decoration: none;
    font-weight: 500;
}

HelloSpace{

    padding-right:10px;
}
#datetimepicker{
    width:280px;
}
.right{
    float:right;

}

.glyphicon-trash{
    color:black;
}

.glyphicon {
    color: black;
    text-decoration: none !important;
}

.newActivityBtn2 {
    margin-bottom: 20px;
    margin-left:3px;
}

.newActivityBtn {
    margin-bottom: 20px;
}
.activity-table{
    padding-top:33px;
}
.btn-gly{
    color:black;
    margin-right:10px;
    margin-left:10px;
}

.btn-gly1 {
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:9px;
}

.btn-link {
    padding: 0;
    color: black;
}

.btn-gly-trash{
    margin-right:10px;
    margin-left:10px;
}
.btn-gly-trash-act {
    margin-left: 10px;
}
h3, h2 {
    color: darkred;
    font-weight:bold;
}

.alert li{
    display:inline;
    margin-left:7px;
    
}

.alert-danger {
    background-color: #DC143C;
    margin-right: 600px;
    border-color: #DC143C;
}

.headling-users {
    color: darkred;
    font-size: 24px;
    font-variant:normal;
}

.btn-link:hover {
    color: darkred;
}

.btn-link {
    text-transform: none;
}

#inputFileName {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
    cursor: pointer
}

.input-group {
    padding-bottom: 20px;
}

#search {
    width: 300px;
}

.space{
    margin-right:5px;
}

.space1 {
    margin-right: 13px;
}

.btn-side{
    margin-bottom:30px;
}

.module-link, .module-link:hover{
    font-size: 18px;
    border-width: 0px 0px;
    margin: 0px 0px;
    color: darkred;
}
#UpdateContentDiv{
    margin-left:50px;
}
  