@model Lexicon_LMS.ViewModel.CourseDhxViewModel

@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-13"> 
        <div class="row">
            <div>
                @Html.ActionLink("Back to previous page", "Course", "Home", new { id = Model.Course.Id }, htmlAttributes: new { @class = "btn btn-default btn-sm", onclick = "return confirm('Are you sure you want the recent changes to take place?');" })
            </div>
        </div>
    </div>
</div>


<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
    @*<style>
        body {
            background-color: #eee;
           @* padding-top: 80px;
        }
    </style>*@
</head>


<body>
    <hr />

    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.DHX.Render())
    </div>
</body>
</html>